@import '../variables';
@import '../helpers';

.challengeBoxContainer {
  height: 100%;

  background: $white;
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(#ccc, 0.75);
  padding: 1.5rem 2rem;

  @include flex-center;
  text-align: center;

  .notActive {
    @include flex-center;
    flex-direction: column;

    strong {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.45;
    }

    .description {
      @include flex-center;
      flex-direction: column;
      line-height: 1.45;
      max-width: 70%;
      margin-top: 3rem;

      img {
        margin-bottom: 1.25rem;
      }
    }
  }

  .active {
    height: 100%;

    display: flex;
    flex-direction: column;

    header {
      color: $blue;
      font-weight: 600;
      font-size: 1.25rem;
      padding: 0 2rem 1.5rem;
      border-bottom: 1px solid $gray-line;
    }

    main {
      flex: 1;
      @include flex-center;
      flex-direction: column;

      strong {
        font-weight: 600;
        font-size: 2rem;
        color: $title;
        margin: 1.5rem 0 1rem;
      }

      p {
        line-height: 1.45;
      }
    }

    footer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    .challengeFailedButton,
    .challengeSucceededButton {
      padding: 1rem 0;

      @include flex-center;
      border: 0;
      border-radius: 5px;
      color: $white;
      font-size: 1rem;
      font-weight: 600;
      transition: background .2s ease-in-out;
    }

    .challengeFailedButton {
      background: $red;

      &:hover {
        background: darken($red, 9);
      }
    }

    .challengeSucceededButton {
      background: $green;

      &:hover {
        background: darken($green, 6);
      }
    }
  }
}
